.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 9999;
    transition: 0.5s;
    height: 100vh;
}

.sidebar.on {
    width: 500px;
}

.sidebar.off {
    width: 0;
}